*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
  
.btn{
    background: linear-gradient(#F7E93F,#FB09B4,#9100F8);
    color:white;
    padding:12px 16px;
    border-radius: 10px;
    border:none;
}
nav{
   max-width:1600px;
   margin: 0px auto;
   background-color:#412567;
   display: flex;
   justify-content: space-between;
   padding:0 120px;
   text-align: center;
}

nav .item{
    display:flex;
    gap:32px;
    list-style-type: none;
    align-items: center;
    
    
}

nav .item a{
    text-decoration: none;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 18px;

    
}

.item1{
margin-top: 10px;
margin-bottom: 10px; 
}

.btn{
background: linear-gradient(to right,#F7E93F,#FB09B4,#9100F8) ;
color:#FFFFFF;
font-size: 16px;
border-radius: 1000px;
border:none;
cursor: pointer;
margin-top: 10px;
margin-bottom: 10px;


}
.btn:hover{
    background-color:#f4440e ;
}

.display-hidden{
    display:none;
}